
<div id="map" style="width: 100%; height: 800px;"></div>
<button ng-click="toggleLayer('heatMapLayerM2')">Capa m2</button>
<button ng-click="toggleLayer('heatMapLayerM2Total')">m2_totales</button>
<button ng-click="toggleLayer('seguridad')">Seguridad</button>
<button ng-click="toggleLayer('pileta')">Pileta</button>
<hr>
<button ng-click="toggleLayer('lla_2023')">Capa LLA 2023</button>
<button ng-click="toggleLayer('jpec_2023')">Capa JXC 2023</button>
<button ng-click="toggleLayer('fit_2023')">Capa FIT 2023</button>
<button ng-click="toggleLayer('uplp_2023')">Capa UXP 2023</button>

